@model IEnumerable<DatabaseLayer.UserTable>

@{
    ViewBag.Title = "All Users";
}

<div class="section-top-border col-md-12">
    <h3 class="mb-32">All Users</h3>

    <div class="progress-table-wrap">
        <div class="progress-table">

            <div class="table-head">
                <div class="serial">#</div>
                <div class="country">Username</div>
                <div class="country">EmailAddress</div>
                <div class="country">Contact No</div>
                <div class="country">UserType</div>
                <div class="country">Action</div>
            </div>
            @foreach (var item in Model)
            {
                if (item.UserTypeID != 1)
                {

                <div class="table-row">
                    <div class="serial">@Html.DisplayFor(modelItem => item.UserID)</div>
                    <div class="country">@Html.DisplayFor(modelItem => item.Username)</div>
                    <div class="country">@Html.DisplayFor(modelItem => item.EmailAddress)</div>
                    <div class="country">@Html.DisplayFor(modelItem => item.ContactNo)</div>
                    <div class="country">@Html.DisplayFor(modelItem => item.UserTypeTable.UserType)</div>
                    <div class="country">@Html.ActionLink("Delete", "DeleteUser", new { id = item.UserID }, new { @class = "genric-btn danger circle text-sm" })</div>
                </div>
                }
            }

        </div>
    </div>
</div>


