@model JobSearch.Models.PostJobDetailsMV
@{
    ViewBag.Title = "JobDetails";
}
@{
    int usertypeid = 0;
    if (!string.IsNullOrEmpty(Convert.ToString(Session["UserTypeID"])))
    {
        int.TryParse(Convert.ToString(Session["UserTypeID"]), out usertypeid);
        int userId = Convert.ToInt32(Session["UserID"]);
    }


}

<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="@Url.Content("~/Content/assets/img/hero/about.jpg")">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>@Model.JobCategory</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="job-post-company pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-between">
            <!-- Left Content -->
            <div class="col-xl-7 col-lg-8">
                <!-- job single -->
                <div class="single-job-items mb-50">
                    <div class="job-items">
                        <div class="company-img company-img-details">
                            <a href="#"><img src="~/Content/assets/img/icon/upjob-logo.jpeg" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="#">
                                <h4>@Model.JobCategory</h4>
                            </a>
                            <ul>
                                <li>@Model.Company</li>
                                <li><i class="fas fa-map-marker-alt"></i>@Model.Location</li>
                                <li>@Model.MinSalary - @Model.MaxSalary</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- job single End -->

                <div class="job-post-details">
                    <div class="post-details1 mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Job Description</h4>
                        </div>
                        <p>@Model.JobDescription</p>
                    </div>
                    @foreach (var item in Model.Requirements)
                    {

                        <div class="post-details2  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>@item.JobRequirementTitle</h4>
                            </div>
                            <ul>
                                @foreach (var detail in item.Details)
                                {
                                    <li>@Html.DisplayFor(modelItem => detail.JobRequirementDetails)</li>
                                }
                            </ul>
                            <a href="@Url.Action("FilterJob", "Job")" class="genric-btn danger">Back</a>
                        </div>
                    }


                </div>

            </div>
            <!-- Right Content -->
            <div class="col-xl-4 col-lg-4">
                <div class="post-details3  mb-50">
                    <!-- Small Section Tittle -->
                    <div class="small-section-tittle">
                        <h4>Job Overview</h4>
                    </div>
                    <ul>
                        <li>Posted date : <span>@Model.PostDate</span></li>
                        <li>Location : <span>@Model.Location</span></li>
                        <li>Vacancy : <span>@Model.Vacancy</span></li>
                        <li>Job nature : <span>@Model.JobNature</span></li>
                        <li>Salary :  <span>@Model.MinSalary$ - @Model.MaxSalary$</span></li>
                        <li>Application date : <span>@Model.ApplicationLastDate.ToString("d MMM, yyyy")</span></li>
                        @if (!string.IsNullOrEmpty(Convert.ToString(Session["UserTypeID"])))
                        {
                            <li>Contact Number : <span>@Model.ContactNo</span></li>
                        }
                    </ul>
                    @if (usertypeid == 3)
                    {
                        <div class="apply-btn2">
                            <a href="@Url.Action("Apply", "Job", new { jobId = Model.PostJobID })" class="btn">Apply Now</a>
                            @if (TempData["SuccessMessage"] != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @TempData["SuccessMessage"]
                                </div>
                            }
                            else if (TempData["ErrorMessage"] != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @TempData["ErrorMessage"]
                                </div>
                            }
                        </div>}
                </div>

            </div>
        </div>
    </div>
</div>
